extends layout
block content
    .container
        div.page-header
            h1 Time to Vote
    .section
        div.container
            div.row
                div.col-md-12
                    form(role='form', action='/vote', method='post')
                        #errors.form-group(hidden='')
                            if error
                                .alert.alert-danger
                                    a.close(href='#', data-dismiss='alert', aria-label='close') ×
                                    strong= message
                        .form-group
                            label.control-label(for='votingNumber')
                                | Voting number
                                br
                            input#votingNumber.form-control(name='votingNumber', placeholder='Enter voting number', type='text', required='')
                        .form-group
                            label.control-label(for='chairperson')
                                | Chairperson
                                br
                            select#chairperson.form-control(name='chairperson')
                                each c in candidates
                                    if c.position == 'Chairperson'
                                        option(name=c.student_id) #{c.fullname}

                        .form-group
                            label.control-label(for='vicechair')
                                | Vice Chairperson
                                br
                            select#vicechair.form-control(name='vicechair')
                                each c in candidates
                                    if c.position == 'Vice Chairperson'
                                        option(name=c.student_id) #{c.fullname}

                        form-group
                            label.control-label(for='secretary')
                                | Secretary
                                br
                            select#secretary.form-control(name='secretary')
                                each c in candidates
                                    if c.position == 'Secretary'
                                        option(name=c.student_id) #{c.fullname}

                        form-group
                            label.control-label(for='pr')
                                | Public Relations
                                br
                            select#pr.form-control(name='publicRelations')
                                each c in candidates
                                    if c.position == 'Public Relations'
                                        option(name=c.student_id) #{c.fullname}

                        form-group
                            label.control-label(for='os')
                                | Organizing Secretary
                                br
                            select#os.form-control(name='organizingSecretary')
                                each c in candidates
                                    if c.position == 'Organizing Secretary'
                                        option(name=c.student_id) #{c.fullname}

                        .form-group
                            label.control-label(for='treasurer')
                                | Treasurer
                                br
                            select#treasurer.form-control(name='treasurer')
                                each c in candidates
                                    if c.position == 'Treasurer'
                                        option(name=c.student_id) #{c.fullname}

                        .form-group
                            label.control-label(for='rm')
                                | Resource Lab Manager
                                br
                            select#rm.form-control(name='resourceManager')
                                each c in candidates
                                    if c.position == 'Resource Lab Manager'
                                        option(name=c.student_id) #{c.fullname}
                        button#submit.btn.btn-default(type='submit') Submit
